/*table, th, td{
width:100%
border:2px solid black;
border-collapse: collapse;
}*/
table{
    width: 100%;
    border-collapse: collapse;
    }
    /* tr:nth-child(even) {
    background-color: #D6EEEE;
    }
    td:nth-child(even), th:nth-child(even) {
    background-color: #D6EEEE;
    } */
     tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
    }
    th:nth-child(even),td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
    }
    tr {
    border-bottom: 1px solid #ddd;
    }
    td:hover {background-color: #D6EEEE;}
    